/* CSS 
* Hackathon hotsite
* Autor Franciéli Bugalho
*/

body{
    font-family: "Calibri", sans-serif;
}

a{
    text-decoration: none;
}

a *{
    cursor: pointer !important;
}

form select, form input{
    color: #989898 !important;
}

fieldset{
    border-spacing: 1px;
    border-color: #00B09F;
    border-style: solid none none;
}

fieldset legend{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: bolder;
    color: #00B09F;
}

select:hover{
    background: none repeat scroll 0 0 #FAFAFA;
}

.yellow{
    background-color: #FFCA04;
    padding-top: 80px;
    padding-bottom: 50px;
}

.green{
    background-color: #00B09F;
    padding-top: 80px;
    padding-bottom: 50px;
}

.title-green{
    color: #00B09F;
}

.has-tip{
    border: none !important;
}

.logo{
    margin-top: 40px !important;
}

.aling-center{
    margin: auto;
}

.section{
    float: left;
    margin-top: 20px;
    text-align: center;
}

.section a label{
    color: #FFCA04;
    font-size: 24px;
}

.tabs{
    margin-top: 100px;
}

.content{
    background-color: #F9F9F9;
}

.button{
    background-color: #00B09F;
}

.button:hover{
    background-color: #04998A;
}

.reveal-modal .button{
    margin-right: 15px;
}

[data-magellan-expedition]{
    padding: 0px;
}

.contain-to-grid, .top-bar, .top-bar-section a{
    background: #FFFFFF !important;
    color: #585858 !important;
}

.top-bar-section a:hover{
    background:#585858 !important;
    color: #FFFFFF !important;
}

.border-dashed{
    border-left: 1px dashed #00B09F;
    padding-left: 20px;
}

footer{
    background: none repeat scroll 0 0 #585858;
    color: #FFFFFF;
    height: 40px;
    padding: 10px;
    text-align: center;
}


